:root {
    --fs-montserrat: "Montserrat", sans-serif;
    --fs-fraunces: "Fraunces", serif;

    --dark-cyan: hsl(158, 36%, 37%);
    --dark-cyan-hover: hsl(156, 42%, 18%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--fs-montserrat);
    font-size: 1.4rem;
    color: var(--dark-grayish-blue);
    background-color: var(--cream);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

img,
svg,
figure {
    display: block;
}

.card {
    width: 60rem;
    height: 45rem;
    background-color: var(--white);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: 45rem;
    grid-template-areas: "image info";
    overflow: hidden;
}

.card > picture {
    grid-area: image;
}

.card > picture > img {
    width: 30rem;
}

.card__content {
    grid-area: info;
    display: flex;
    flex-direction: column;
    padding: 3.1rem 3.2rem 3.2rem;
}

.card__content__type {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.card__content__product-name,
.card__content__price-group__final-price {
    font-family: var(--fs-fraunces);
}

.card__content__product-name {
    color: var(--very-dark-blue);
    font-size: 3.1rem;
    line-height: 1.06;
    margin-top: 2.1rem;
}

.card__content__product-description {
    margin-top: 2.1rem;
    line-height: 2.5rem;
}

.card__content__price-group {
    display: flex;
    align-items: center;
    margin-top: 2.7rem;
}

.card__content__price-group__final-price {
    font-size: 3.2rem;
    color: var(--dark-cyan);
}

.card__content__price-group__full-price {
    margin-left: 2.5rem;
    font-size: 1.3rem;
    text-decoration: line-through;
}

.card__content__add-to-cart {
    width: 100%;
    margin-top: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fs-montserrat);
    font-weight: 700;
    color: var(--white);
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 0.8rem;
    padding: 1.6rem;
    cursor: pointer;
}

.card__content__add-to-cart:hover {
    background-color: var(--dark-cyan-hover);
}

.card__content__add-to-cart > img {
    margin-right: 1.1rem;
}

footer {
    position: fixed;
    bottom: 0.313rem;
}

@media (max-width: 650px) {
    body {
        font-size: 1.3rem;
        margin: 5rem 0;
    }

    .card {
        width: 34.3rem;
        height: 61.1rem;
        grid-template-columns: 34.3rem;
        grid-template-rows: 24rem 37.1rem;
        grid-template-areas:
      "image"
      "info";
    }

    .card > picture > img {
        width: 34.3rem;
    }

    .card__content {
        padding: 2.3rem;
    }

    .card__content__product-name {
        margin-top: 1.3rem;
    }

    .card__content__product-description {
        margin-top: 1.5rem;
    }

    .card__content__price-group {
        margin-top: 3rem;
    }

    .card__content__add-to-cart {
        margin-top: 1.6rem;
    }

    footer {
        position: static;
        margin-top: 2rem;
    }
}
